@model ContatosModel;

@{
    ViewData["Title"] = "Contatos";
}

<div class="text-center">
    <h1 class="display-4">Vamos nos conectar!</h1>
    <span>Link para o meu Github: @Model.Github</span>
    <span>Link para meu Linkedin: @Model.Linkedin</span>
</div>
