@model ContatosModel;

@{
    ViewData["Title"] = "Contatos";
}

<div class="text-center">
    <h1 class="display-4">Vamos nos conectar!</h1>
    <p>Link para o meu Github: @Model.Github</p>
    <p>Link para meu Linkedin: @Model.Linkedin</p>
</div>
